<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SmartScape 2.0</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/ol.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="/assets/javascripts/vendor/ol-debug.js"></script>
        
	<link rel="stylesheet" href="/assets/stylesheets/theme-neptune-all.css">
	<script type="text/javascript" src="/assets/javascripts/vendor/ext-all.js"></script>
	<script type="text/javascript" src="/assets/stylesheets/theme-neptune.js"></script>
    <link rel="stylesheet" href="/assets/stylesheets/charts-all.css">
    <script type="text/javascript" src="/assets/javascripts/vendor/charts.js"></script>
    
    </head>
    <body>
        <script src="assets/javascripts/nav.js" type="text/javascript"></script>
    </body>
</html>